<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="css/events.css">
    <title>Enigma</title>
</head>

<body>
    <!-- Navbar -->
    <div id="navbar">
        <nav>
            <h1 class="brand"><a href="/">En<span>i</span>gma</a></h1>
            <ul>
                <li><a href="/#about">About</a></li>
                <li><a href="events">Events</a></li>
                <li><a href="/#schedule">Schedule</a></li>
                <li><a href="/#glimpses">Glimpses</a></li>
                <li><a href="/#workshops">Workshops</a></li>
                <li>
                    <a href="#">Register <i class="fa-solid fa-caret-down"></i></a>
                    <ul>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Events -->
    <div class="event-sect">
        <div class="events">
            <div class="event-head">EVENTS</div>
            <div class="text">
                <ul>
                    <li><a href="#esports">ESports</a></li>
                    <li><a href="#hackathons">Hackathons</a></li>
                    <li><a href="#techniche">Techniche</a></li>
                    <li><a href="#techknow">TechKnow</a></li>
                    <li><a href="#pronites">Pro Nites</a></li>
                </ul>
            </div>
        </div>
        <!-- CardEvent -->
        <div class="card-events">
            <div class="speakers" id="esports">
                <h3 class="body-heads">ESports</h3>
                <div class="sp-cards">
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <img src="assets/valo.jpg" alt="">
                                <h3>VALORANT</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has
                                    been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                    galley
                                    of type and
                                </p>
                                <button class="myBtn" href="#myModal1">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <!-- <h2>02</h2> -->
                                <img src="assets/csgo.png" alt="">
                                <h3>CS: GO</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has
                                    been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                    galley
                                    of type and
                                </p>
                                <button class="myBtn" href="#myModal2">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <img src="assets/cod.jpg" alt="">
                                <h3>COD</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has
                                    been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                    galley
                                    of type and
                                </p>
                                <button class="myBtn" href="#myModal3">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <img src="assets/fallguys.jpg" alt="">
                                <h3>FALL GUYS</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has
                                    been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                    galley
                                    of type and
                                </p>
                                <button class="myBtn" href="#myModal4">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="speakers" id="techniche">
                <h3 class="body-heads">Techniche</h3>
                <div class="sp-cards">
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <img src="assets/rorbowars.jpg" alt="">
                                <h3>ROBOWARS</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has
                                    been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                    galley
                                    of type and
                                </p>
                                <button class="myBtn" href="#myModal5">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <!-- <h2>02</h2> -->
                                <img src="/assets/drone.jpg" alt="">
                                <h3>DRONE RACING</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has
                                    been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                    galley
                                    of type and
                                </p>
                                <button class="myBtn" href="#myModal6">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <img src="/assets/bothockey.jpg" alt="">
                                <h3>BOT HOCKEY</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has
                                    been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                    galley
                                    of type and
                                </p>
                                <button class="myBtn" href="#myModal7">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="speakers" id="hackathons">
                <h3 class="body-heads">Hackathons</h3>
                <div class="sp-cards">
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <img src="/assets/android.jpg" alt="">
                                <h3>ANDROID</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has
                                    been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                    galley
                                    of type and
                                </p>
                                <button class="myBtn" href="#myModal8">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <!-- <h2>02</h2> -->
                                <img src="/assets/web.jpg" alt="">
                                <h3>WEB</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has
                                    been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                    galley
                                    of type and
                                </p>
                                <button class="myBtn" href="#myModal9">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <img src="/assets/blockchain.jpg" alt="">
                                <h3>BLOCKCHAIN</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has
                                    been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                    galley
                                    of type and
                                </p>
                                <button class="myBtn" href="#myModal10">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="speakers" id="techknow">
                <h3 class="body-heads">TechKNOW</h3>
                <div class="sp-cards">
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <img src="/assets/quiz.jpg" alt="">
                                <h3>QUIZ</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has
                                    been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                    galley
                                    of type and
                                </p>
                                <button class="myBtn" href="#myModal11">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <!-- <h2>02</h2> -->
                                <img src="/assets/ancient.jpg" alt="">
                                <h3>ANCIENT</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has
                                    been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                    galley
                                    of type and
                                </p>
                                <button class="myBtn" href="#myModal12">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="speakers" id="pronites">
                <h3 class="body-heads">Pro Nites</h3>
                <div class="sp-cards">
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <img src="/assets/standup.jpg" alt="">
                                <h3>STAND UP</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has
                                    been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                    galley
                                    of type and
                                </p>
                                <button class="myBtn" href="#myModal13">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <!-- <h2>02</h2> -->
                                <img src="/assets/dance.jpg" alt="">
                                <h3>DANCE</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has
                                    been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                    galley
                                    of type and
                                </p>
                                <button class="myBtn" href="#myModal14">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <div class="content">
                                <img src="/assets/dj.jpg" alt="">
                                <h3>DJ NIGHT</h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has
                                    been the
                                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                                    galley
                                    of type and
                                </p>
                                <button class="myBtn" href="#myModal15">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <div id="myModal1" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">x</span>
            </div>
            <div class="modal-body">
                <div class="modal-event-content">
                    <img class="modal-hero-image" src="/assets/valo.jpg"
                        alt="najanu">
                    <div class="modal-event-header">
                        <h1>VALORANT</h1>
                        <h3>Come be a part of the epic matchups!</h3>
                        <p>01-03 December</p>
                        <p>Auditorium, IIITM Campus</p>
                    </div>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has
                        been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and
                    </p>
                    <a class="button" href="/tevents">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal2" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">x</span>
            </div>
            <div class="modal-body">
                <div class="modal-event-content">
                    <img class="modal-hero-image" src="/assets/csgo.png"
                        alt="najanu">
                    <div class="modal-event-header">
                        <h1>COUNTER STRIKE: GLOBAL OFFENSIVE</h1>
                        <h3>Come be a part of the epic matchups!</h3>
                        <p>01-03 December</p>
                        <p>Auditorium, IIITM Campus</p>
                    </div>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has
                        been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and
                    </p>
                    <a class="button" href="/tevents">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal3" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">x</span>
            </div>
            <div class="modal-body">
                <div class="modal-event-content">
                    <img class="modal-hero-image" src="/assets/cod.jpg"
                        alt="najanu">
                    <div class="modal-event-header">
                        <h1>CALL OF DUTY</h1>
                        <h3>Come be a part of the epic matchups!</h3>
                        <p>01-03 December</p>
                        <p>Auditorium, IIITM Campus</p>
                    </div>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has
                        been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and
                    </p>
                    <a class="button" href="/tevents">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal4" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">x</span>
            </div>
            <div class="modal-body">
                <div class="modal-event-content">
                    <img class="modal-hero-image" src="/assets/fallguys.jpg" alt="najanu">
                    <div class="modal-event-header">
                        <h1>FALL GUYS</h1>
                        <h3>Come be a part of the epic matchups!</h3>
                        <p>01-03 December</p>
                        <p>Auditorium, IIITM Campus</p>
                    </div>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has
                        been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and
                    </p>
                    <a class="button" href="/ievents">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal5" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">x</span>
            </div>
            <div class="modal-body">
                <div class="modal-event-content">
                    <img class="modal-hero-image" src="/assets/rorbowars.jpg" alt="najanu">
                    <div class="modal-event-header">
                        <h1>ROBOWARS</h1>
                        <h3>Come be a part of the epic matchups!</h3>
                        <p>01-03 December</p>
                        <p>Auditorium, IIITM Campus</p>
                    </div>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has
                        been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and
                    </p>
                    <a class="button" href="/tevents">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal6" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">x</span>
            </div>
            <div class="modal-body">
                <div class="modal-event-content">
                    <img class="modal-hero-image" src="/assets/drone.jpg" alt="najanu">
                    <div class="modal-event-header">
                        <h1>DRONE RACING</h1>
                        <h3>Come be a part of the epic matchups!</h3>
                        <p>01-03 December</p>
                        <p>Auditorium, IIITM Campus</p>
                    </div>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has
                        been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and
                    </p>
                    <a class="button" href="/tevents">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal7" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">x</span>
            </div>
            <div class="modal-body">
                <div class="modal-event-content">
                    <img class="modal-hero-image" src="/assets/bothockey.jpg" alt="najanu">
                    <div class="modal-event-header">
                        <h1>BOT HOCKEY</h1>
                        <h3>Come be a part of the epic matchups!</h3>
                        <p>01-03 December</p>
                        <p>Auditorium, IIITM Campus</p>
                    </div>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has
                        been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and
                    </p>
                    <a class="button" href="/ievents">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal8" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">x</span>
            </div>
            <div class="modal-body">
                <div class="modal-event-content">
                    <img class="modal-hero-image" src="/assets/android.jpg" alt="najanu">
                    <div class="modal-event-header">
                        <h1>ANDROID</h1>
                        <h3>Come be a part of the epic matchups!</h3>
                        <p>01-03 December</p>
                        <p>Auditorium, IIITM Campus</p>
                    </div>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has
                        been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and
                    </p>
                    <a class="button" href="/tevents">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal9" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">x</span>
            </div>
            <div class="modal-body">
                <div class="modal-event-content">
                    <img class="modal-hero-image" src="/assets/web.jpg" alt="najanu">
                    <div class="modal-event-header">
                        <h1>WEB</h1>
                        <h3>Come be a part of the epic matchups!</h3>
                        <p>01-03 December</p>
                        <p>Auditorium, IIITM Campus</p>
                    </div>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has
                        been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and
                    </p>
                    <a class="button" href="/tevents">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal10" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">x</span>
            </div>
            <div class="modal-body">
                <div class="modal-event-content">
                    <img class="modal-hero-image" src="/assets/blockchain.jpg" alt="najanu">
                    <div class="modal-event-header">
                        <h1>BLOCKCHAIN</h1>
                        <h3>Come be a part of the epic matchups!</h3>
                        <p>01-03 December</p>
                        <p>Auditorium, IIITM Campus</p>
                    </div>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has
                        been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and
                    </p>
                    <a class="button" href="/tevents">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal11" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">x</span>
            </div>
            <div class="modal-body">
                <div class="modal-event-content">
                    <img class="modal-hero-image" src="/assets/quiz.jpg" alt="najanu">
                    <div class="modal-event-header">
                        <h1>QUIZ</h1>
                        <h3>Come be a part of the epic matchups!</h3>
                        <p>01-03 December</p>
                        <p>Auditorium, IIITM Campus</p>
                    </div>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has
                        been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and
                    </p>
                    <a class="button" href="/ievents">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal12" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">x</span>
            </div>
            <div class="modal-body">
                <div class="modal-event-content">
                    <img class="modal-hero-image" src="/assets/ancient.jpg" alt="najanu">
                    <div class="modal-event-header">
                        <h1>ANCIENT</h1>
                        <h3>Come be a part of the epic matchups!</h3>
                        <p>01-03 December</p>
                        <p>Auditorium, IIITM Campus</p>
                    </div>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has
                        been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and
                    </p>
                    <a class="button" href="/ievents">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal13" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">x</span>
            </div>
            <div class="modal-body">
                <div class="modal-event-content">
                    <img class="modal-hero-image" src="/assets/standup.jpg" alt="najanu">
                    <div class="modal-event-header">
                        <h1>STAND UP</h1>
                        <h3>Come be a part of the epic matchups!</h3>
                        <p>01-03 December</p>
                        <p>Auditorium, IIITM Campus</p>
                    </div>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has
                        been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal14" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">x</span>
            </div>
            <div class="modal-body">
                <div class="modal-event-content">
                    <img class="modal-hero-image" src="/assets/dance.jpg" alt="najanu">
                    <div class="modal-event-header">
                        <h1>FUSION</h1>
                        <h3>Come be a part of the epic matchups!</h3>
                        <p>01-03 December</p>
                        <p>Auditorium, IIITM Campus</p>
                    </div>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has
                        been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and
                    </p>
                    <a class="button" href="/tevents">Register</a>
                </div>
            </div>
        </div>
    </div>

    <div id="myModal15" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">x</span>
            </div>
            <div class="modal-body">
                <div class="modal-event-content">
                    <img class="modal-hero-image" src="/assets/dj.jpg" alt="najanu">
                    <div class="modal-event-header">
                        <h1>DJ NIGHT</h1>
                        <h3>Come be a part of the epic matchups!</h3>
                        <p>01-03 December</p>
                        <p>Auditorium, IIITM Campus</p>
                    </div>
                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has
                        been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col">
                <h1 class="fhead">ENIGMA</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>
            <div class="col">
                <h3>DISCOVER <div class="underline"><span></span></div>
                </h3>
                <p>Our Team</p>
                <p>Brochure</p>
                <p>Suggestions and Feedback</p>
            </div>
            <div class="col">
                <h3>ABOUT <div class="underline"><span></span></div>
                </h3>
                <p>About Us</p>
                <p>IIITM</p>
            </div>
            <div class="col">
                <h3>CONTACT <div class="underline"><span></span></div>
                </h3>
                <p class="email-id">imt_2021015@iiitm.ac.in</p>
                <p class="email-id">imt_2021021@iiitm.ac.in</p>
                <p class="email-id">imt_2021039@iiitm.ac.in</p>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-solid fa-envelope"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">WebTriads @ 2022 - All RIghts Reserved</p>
    </footer>


    <!-- Modal Script -->
    <script type="text/javascript">
        var btn = document.querySelectorAll("button.myBtn");
        var modals = document.querySelectorAll('.modal');
        var spans = document.getElementsByClassName("close");

        for (var i = 0; i < btn.length; i++) {
            btn[i].onclick = function (e) {
                e.preventDefault();
                modal = document.querySelector(e.target.getAttribute("href"));
                modal.style.display = "block";
            }
        }

        for (var i = 0; i < spans.length; i++) {
            spans[i].onclick = function () {
                for (var index in modals) {
                    if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";
                }
            }
        }

        window.onclick = function (event) {
            if (event.target.classList.contains('modal')) {
                for (var index in modals) {
                    if (typeof modals[index].style !== 'undefined') modals[index].style.display = "none";
                }
            }
        }
    </script>
</body>

</html>