<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="css/home.css">
    <title>Enigma</title>
</head>

<body>
    <header>
        <div id="navbar">
            <nav>
                <h1 class="brand"><a href="/">En<span>i</span>gma</a></h1>
                <ul>
                    <li><a href="#about">About</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="#schedule">Schedule</a></li>
                    <li><a href="#glimpses">Glimpses</a></li>
                    <li><a href="#workshops">Workshops</a></li>
                    <li>
                        <a href="#">Register <i class="fa-solid fa-caret-down"></i></a>
                        <ul>
                            <li><a href="/signup">Sign Up</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="heading">
            <p class="glitch">
                <span aria-hidden="true">Enigma</span>Enigma<span aria-hidden="true">Enigma</span>
            </p>
        </div>
    </header>

    <!-- Featured On -->
    <div class="feat-sec">
        <h3 class="feat-text">Featured on</h3>
        <div class="featured">
            <div class="feat-content">
                <ul>
                    <li></li>
                    <li><a href="#"><img src="assets/Asset 1.png"></img></a></li>
                    <li><a href="#"><img src="assets/Asset 2.png"></img></a></li>
                    <li><a href="#"><img src="assets/Asset 3.png"></img></a></li>
                    <li><a href="#"><img src="assets/Asset 4.png"></img></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- About -->
    <div class="ab-sect" id="about">
        <div class="about">
            <h3 class="body-heads">About</h3>
            <p class="ab-cont">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap
                into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
    </div>

    <!-- Timeline -->
    <div class="schedule" id="schedule">
        <h3 class="body-heads">Schedule</h3>
        <div class="timeline-sect">
            <div class="timeline">
                <ul>
                    <li>
                        <div class="timeline-content">
                            <div class="t-cards">
                                <div class="card">
                                    <div class="content">
                                        <h2>01</h2>
                                        <h3>Day 01</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            5
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-content">
                            <div class="t-cards">
                                <div class="card">
                                    <div class="content">
                                        <h2>02</h2>
                                        <h3>Day 02</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            5
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-content">
                            <div class="t-cards">
                                <div class="card">
                                    <div class="content">
                                        <h2>03</h2>
                                        <h3>Day 03</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            5
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Speakers -->
    <div class="speakers" id="speakers">
        <h3 class="body-heads">Speakers</h3>
        <div class="sp-cards">
            <div class="card">
                <div class="box">
                    <div class="content">
                        <img src="assets/oprah-winfrey.jpg" alt="" srcset="">
                        <h3>OPRAH</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and
                        </p>
                        <a href="https://en.wikipedia.org/wiki/Oprah_Winfrey">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="content">
                        <img src="assets/mkbhdl.jpg" alt="" srcset="">
                        <h3>MKBHD</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and
                        </p>
                        <a href="https://www.youtube.com/c/mkbhd">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="content">
                        <img src="assets/kunal.jpg" alt="" srcset="">
                        <h3>KUNAL</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and
                        </p>
                        <a href="https://www.linkedin.com/in/kunalshah1/?originalSubdomain=in">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Workshops -->
    <div class="workshops" id="workshops">
        <h3 class="body-heads">Workshops</h3>
        <div class="ws-cards">
            <div class="r1">
                <div class="card">
                    <div class="imgBx"><img src="/assets/tanmayfin.avif" alt=""></div>
                    <div class="content">
                        <h3>Tanmay<br><span>Content Creation</span></h3>
                        <a href="https://www.youtube.com/c/TanmayBhatYouTube">Read More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="imgBx"><img src="/assets/ishan.jpg" alt=""></div>
                    <div class="content">
                        <h3>Ishan<br><span>Digital Marketing</span></h3>
                        <a href="https://www.youtube.com/c/IshanSharma7390">Read More</a>
                    </div>
                </div>
            </div>
            <div class="r2">
                <div class="card">
                    <div class="imgBx"><img src="/assets/aman.jpg" alt=""></div>
                    <div class="content">
                        <h3>Aman<br><span>Online Education</span></h3>
                        <a href="https://www.youtube.com/c/AmanDhattarwal">Read More</a>
                    </div>
                </div>
                <div class="card">
                    <div class="imgBx"><img src="/assets/vishy.webp" alt=""></div>
                    <div class="content">
                        <h3>Vishy<br><span>Chess</span></h3>
                        <a href="https://en.wikipedia.org/wiki/Viswanathan_Anand">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Glimpses -->
    <div class="glimpses-sect" id="glimpses">
        <h3 class="body-heads">Glimpses</h3>
        <div class="glimpses">
            <div class="g-cards">
                <input type="radio" name="dot" id="one">
                <input type="radio" name="dot" id="two">
                <input type="radio" name="dot" id="three">
                <div class="main-card">
                    <div class="cards">
                        <div class="card">
                            <div class="content">
                                <div class="img">
                                    <img src="assets/g1.jpg" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <div class="img">
                                    <img src="assets/g5.jpg" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <div class="img">
                                    <img src="assets/g9.jpg" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="card">
                            <div class="content">
                                <div class="img">
                                    <img src="assets/g6.jpg" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <div class="img">
                                    <img src="assets/g4.jpg" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <div class="img">
                                    <img src="assets/g7.jpg" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards">
                        <div class="card">
                            <div class="content">
                                <div class="img">
                                    <img src="assets/g3.webp" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <div class="img">
                                    <img src="assets/g2.png" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="content">
                                <div class="img">
                                    <img src="assets/g1.jpg" alt="" srcset="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <label for="one" class=" active one"></label>
                    <label for="two" class="two"></label>
                    <label for="three" class="three"></label>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col">
                <h1 class="fhead">ENIGMA</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>
            <div class="col">
                <h3>DISCOVER <div class="underline"><span></span></div>
                </h3>
                <p>Our Team</p>
                <p>Brochure</p>
                <p>Suggestions and Feedback</p>
            </div>
            <div class="col">
                <h3>ABOUT <div class="underline"><span></span></div>
                </h3>
                <p>About Us</p>
                <p>IIITM</p>
            </div>
            <div class="col">
                <h3>CONTACT <div class="underline"><span></span></div>
                </h3>
                <p class="email-id">imt_2021015@iiitm.ac.in</p>
                <p class="email-id">imt_2021021@iiitm.ac.in</p>
                <p class="email-id">imt_2021039@iiitm.ac.in</p>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-solid fa-envelope"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright">WebTriads @ 2022 - All RIghts Reserved</p>
    </footer>
</body>

</html>